body { 
    background-color: skyblue;
}

h1 {
    color: black;
    margin-left: 20px;
}

h5{
    color: blue;
    margin-left: 10px;
}

/* Create two equal columns that float next to each other */
.column {
    float: left; 
    width: 50%;
}

/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}

/* Responsive Layout */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

