/* Generate header box */
header {
    position: fixed;
    width: 1800px;
    height: 100px;
    top: 0;
    background-color: skyblue; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 20px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

/* Allows for header contents to be inline */ 
.navigate-midden li {
    display: inline;
    margin-left: 10px;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    background-color: skyblue;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    row-gap: 150px;
    /* margin: 100 px auto;
    margin: 0 -20px; */
    
    /* width: 100%; */
    /* column-width: 100 px; */
}

.wrapper {
    margin: 150px auto;
    width: 70%;
}

.row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column { 
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    flex: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}

img {
    max-width: 400px;
    float: left;
    border: 3px solid beige;
    border-radius: 10px;
    margin-right: 15px;
}
 
.text-box { 
    color: #000000;
}

.text-box h2 {
    font-size: 42px; 
}

.text-box p { 
    font-size: 22px;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color: #fff;
}

/* Allows for header contents to be inline */ 
ul.about {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 120px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    text-justify: auto;
    font-size: 18px;
}

.btn {
    border: 3px;
    text-transform: uppercase;
    border: 2px black;
    border-radius: 20px;
    cursor: pointer;
    color: blue;
}

/* Responsive Layout
@media screen and (max-width:1450px) {
    .project {
        flex-direction: column;
    }
    .projectImage {
        width: 100%;
        height: auto;
    }

    .projectInfoContainer {
        margin-left: 0;
        margin-top: 15 px;
        margin-bottom: 15px;
    }

    .column {
        width: 100%;
    }
} */

